__pycache__/
smarthome.log

# Distribution / packaging
upload/
config/
config/token/*
.github
.github/*

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
