version: '3.3'

services:
  dz-googleassistant:
    image: dewgew/dzga-flask
    container_name: dzga-flask
    restart: unless-stopped
    ports:
      - 8181:8181
    volumes:
      - /home/${USER}/DZGA-Flask/config:/config
      - /home/${USER}/DZGA-Flask/uploads:/uploads
      - /home/${USER}/DZGA-Flask/instance:/instance
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1010
      - PGID=1010
    
