[Unit]
Description=DZGA-Flask dashboard

[Service]
Environment=VIRTUAL_ENV=/home/__USER__/DZGA-Flask/env
ExecStart=/home/__USER__/DZGA-Flask/env/bin/python /home/__USER__/DZGA-Flask/smarthome.py -d
WorkingDirectory=/home/__USER__/DZGA-Flask/
User=__USER__
Restart=on-failure

[Install]
WantedBy=multi-user.target
