[Unit]
Description=DZGA-Flask dashboard
After=multi-user.target

[Service]
User=__USER__
Group=__USER__
WorkingDirectory=/home/__USER__/DZGA-Flask/
Environment=VIRTUAL_ENV=/home/__USER__/DZGA-Flask/env
ExecStart=/home/__USER__/DZGA-Flask/env/bin/python /home/__USER__/DZGA-Flask/smarthome.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
