{% include 'head.html' %}

{% include 'header.html' %}

{% include 'sidebar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row dashboard">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">	
		  
			<div class="col-12">
			
			<h5 id="title_scenes">Scenes/Groups</h5>
			  
			  <div class="iconslist">
			  {% for k, v in devices.items() %}
			  
			  {% if v['customData']['domain'] == 'Group' %}
			    <div class="icon">
					<div class="click" onclick="toogleGroup({{ v['customData']['idx'] }})">
					  <i class="bi bi-toggle2-off" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}"></i>
					  <div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					</div>
				</div>
				
			  {% elif v['customData']['domain'] == 'Scene' %}
			    <div class="icon">
					<div class="click" onclick="activateScene({{ v['customData']['idx'] }})">
					  <i class="bi bi-toggle2-off" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}"></i>
					  <div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					</div>
				</div>
			  {% endif %}
			  
			  {% endfor %}
			  </div>
			  </br>
			  
			  <h5 id="title_switches">Switches</h5>
			  
			  <div class="iconslist">
			  {% for k, v in devices.items() %}
				
				{% if v['customData']['domain'] == 'OnOff' %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
				      {% if v['type'] == 'action.devices.types.OUTLET' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">outlet</i>
					  {% elif v['type'] == 'action.devices.types.SWITCH' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">switch</i>
					  {% elif v['type'] == 'action.devices.types.WATERHEATER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">water_heater</i>
					  {% elif v['type'] == 'action.devices.types.HEATER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">heat</i>
					  {% elif v['type'] == 'action.devices.types.FAN' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">mode_fan</i>
					  {% elif v['type'] == 'action.devices.types.DOORBELL' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">doorbell_3p</i>
					  {% elif v['type'] == 'action.devices.types.OVEN' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">oven_gen</i>
					  {% elif v['type'] == 'action.devices.types.VACUUM' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">mop</i>
					  {% elif v['type'] == 'action.devices.types.DISHWASHER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">dishwasher_gen</i>
					  {% elif v['type'] == 'action.devices.types.WASHER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">local_laundry_service</i>
					  {% elif v['type'] == 'action.devices.types.TV' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">tv</i>
					  {% elif v['type'] == 'action.devices.types.COFFEEMAKER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">coffee_maker</i>
					  {% elif v['type'] == 'action.devices.types.TV' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">tv</i>
					  {% else %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lightbulb</i>
					  {% endif %}
					  <div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					  <small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					</div>
					<div class="modal fade" id="onoffpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="toogleSecSwitch({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
				
				{% elif v['customData']['domain'] == 'Doorbell' %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">doorbell_3p</i>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
				</div>
				
				{% elif v['customData']['domain'] == 'DoorLock' %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
						<i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lock</i>
						<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
						<small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					</div>
					<div class="modal fade" id="onoffpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="toogleSecSwitch({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
				
				{% elif v['customData']['domain'] in ('VenetianBlindsUS', 'VenetianBlindsEU', 'Blinds', 'BlindsStop','BlindsPercentage')%}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_blinds_{{ v['customData']['idx'] }}">roller_shades</i>
					  <small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					{% if v['customData']['domain'] != 'BlindsPercentage' %}
					<div class="btn-group" role="group" aria-label="Basic outlined blinds">
						<button type="button" class="btn btn-outline-primary btn-sm" onclick="openCloseBlind({{ v['customData']['idx'] }}, 'Open')"><i class="bi bi-arrow-up-circle" style="font-size: 1rem;"></i></button>
						{% if v['customData']['domain'] != 'Blinds' %}
						<button type="button" class="btn btn-outline-primary btn-sm" onclick="openCloseBlind({{ v['customData']['idx'] }}, 'Stop')"><i class="bi bi-stop-circle" style="font-size: 1rem; color: red;"></i></button>
						{% endif %}
						<button type="button" class="btn btn-outline-primary btn-sm" onclick="openCloseBlind({{ v['customData']['idx'] }}, 'Close')"><i class="bi bi-arrow-down-circle" style="font-size: 1rem;"></i></button>	
					</div>
					{% else %}
					<input id="slider_{{ v['customData']['idx'] }}" type="range" min="0" max="100" step="1" onchange="changeDimmers({{ v['customData']['idx'] }}, this.value)">
					{% endif %}
				</div>
				
				{% elif v['customData']['domain'] == 'Dimmer' %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lightbulb</i>
					  <small id="output_{{ v['customData']['idx'] }}">0</small>		  
					  <div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					</div>
					<input id="slider_{{ v['customData']['idx'] }}" type="range" min="0" max="100" step="1" onchange="changeDimmers({{ v['customData']['idx'] }}, this.value)">
				</div>
				
				{% elif v['customData']['domain'] == 'ColorSwitch' %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lightbulb</i>
					  <small id="output_{{ v['customData']['idx'] }}">0</small>					  
					  <div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					</div>
					<input id="slider_{{ v['customData']['idx'] }}" type="range" min="0" max="100" step="1" onchange="changeDimmers({{ v['customData']['idx'] }}, this.value)">
					<input type="color" class="form-control form-control-color" id="rgb_{{ v['customData']['idx'] }}" value="#4154f1" title="Choose your color" onchange="changeRGB({{ v['customData']['idx'] }}, this.value)">
				</div>
				
				{% elif v['customData']['domain'] == 'Selector' %}
				<div class="icon">
					<div class="click" onclick="" data-bs-toggle="modal" data-bs-target="#selmodal_{{ v['customData']['idx'] }}">
						<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">event_list</i>
						<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
						<small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					</div>
					<div class="modal fade" id="selmodal_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
									<label for="Selector_{{ v['customData']['idx'] }}" class="form-label">Set selector level</label>
									<select class="form-select" aria-label="level" id="Selector_{{ v['customData']['idx'] }}">
									<!-- <option value="0">Off</option> -->
									</select>
								</div>
								{% if v['customData']['protected'] %}
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
								{% endif %}
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="setSelectorLevel('#Selector_',{{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
				
				{% elif (v['customData']['domain'] in ['DoorContact', 'Contact']) %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">door_front</i>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					<small id="data_{{ v['customData']['idx'] }}">Not availible</small>
				</div>
				
				{% elif v['customData']['domain'] in ('PushOnButton', 'PushOffButton') %}
			    <div class="icon">
					<div class="click" id="click_{{ v['customData']['idx'] }}" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">radio_button_checked</i>
					  <div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					</div>
					<div class="modal fade" id="onoffpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="toogleSecSwitch({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
				
				{% endif %}
				
		      {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_temps">Thermostats/Temperatures</h5>
			  <div class="iconslist">
			  {% for k, v in devices.items() %}
			 
				{% if  v['customData']['domain'] in ('Temp', 'TempHumidity', 'TempHumidityBaro') %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">thermometer</i>
					 <small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
				</div>
				{% elif  v['customData']['domain'] in ('Thermostat', 'Setpoint') %}
				<div class="icon">
					<div class="click" onclick="" data-bs-toggle="modal" data-bs-target="#thermomodal_{{ v['customData']['idx'] }}">
					<i class="material-symbols-outlined" id="{% if v['customData']['selector_modes_idx'] %}thermo_icon_{{ v['customData']['selector_modes_idx'] }}{% else %}thermo_icon_{{ v['customData']['idx'] }}{% endif %}">thermostat</i>
					{% if v['customData']['actual_temp_idx'] %}
						<small id="actual_data_{{ v['customData']['actual_temp_idx'] }}">Not availible</small>
					{% else %}
						<small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					{% endif %}
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					{% if v['customData']['selector_modes_idx'] %}
						<small id="mode_data_{{ v['customData']['selector_modes_idx'] }}">Not availible</small>
					{% endif %}
					</div>
					<div class="modal fade" id="thermomodal_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
									<label for="range_{{ v['customData']['idx'] }}" class="form-label">Set Temperature</label>
									<div>
									{% if v['customData']['actual_temp_idx'] %}
									<small>Actual: <span id="actual_tdata_{{ v['customData']['actual_temp_idx'] }}">Not availible</span></small>
									{% else %}
									<small>Actual: <span id="tdata_{{ v['customData']['idx'] }}">Not availible</span></small>
									{% endif %}
									<input id="range_{{ v['customData']['idx'] }}" class="form-range" type="range" min="{{ v['attributes']['thermostatTemperatureRange']['minThresholdCelsius'] }}" max="{{ v['attributes']['thermostatTemperatureRange']['maxThresholdCelsius'] }}" value="" step="0.5" oninput="document.getElementById('slider_value_{{ v['customData']['idx'] }}').innerHTML = this.value">
									Setpoint: <span id="slider_value_{{ v['customData']['idx'] }}">Nothing yet.</span>
									</div>
								</div>
								{% if v['customData']['selector_modes_idx'] %}
								<div class="col-12">
									<label for="thermo_Selector_{{ v['customData']['selector_modes_idx'] }}" class="form-label">Thermostat Mode</label>
									<select class="form-select" aria-label="level" id="thermo_Selector_{{ v['customData']['selector_modes_idx'] }}">
									<!-- <option value="0">Off</option> -->
									</select>
								</div>
								{% endif %}
								{% if v['customData']['protected'] %}
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
								{% endif %}
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="setSetpoint({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}'){% if v['customData']['selector_modes_idx'] %};setSelectorLevel('#thermo_Selector_', {{ v['customData']['selector_modes_idx'] }}, '{{ v['customData']['protected'] }}') {% endif %}" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
			  {% endif %}
			  
			  
			  
			  {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_security">Security devices</h5>
			  <div class="iconslist">
			  {% for k, v in devices.items() %}
			 
				{% if v['customData']['domain'] == 'Security' %}
				<div class="icon">
					<div class="click" onclick="" data-bs-toggle="modal" data-bs-target="#security">
					<i class="bi bi-house-lock" id="icon_security_{{ v['customData']['idx'] }}"></i>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					<small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					</div>
					  <div class="modal fade" id="security" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
							
								<div class="col-12 text-start">
								<label for="Security_{{ v['customData']['idx'] }}" class="form-label">Set Arm level</label>
								<select class="form-select" aria-label="armlevel" id="Security_{{ v['customData']['idx'] }}">
								  <option selected value="0">Normal</option>
								  <option value="1">Armed Home</option>
								  <option value="2">Armed Away</option>
								</select>
								</div>
								<div class="col-12 text-start">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="setArmLevel({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Set Armlevel</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
				
				{%elif v['customData']['domain'] == 'SmokeDetector' %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_smoke_{{ v['customData']['idx'] }}">detector</i>
					<!-- <i class="bi bi-broadcast" id="icon_smokeOff_{{ v['customData']['idx'] }}"></i> -->
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					<small id="data_smoke_{{ v['customData']['idx'] }}">Not availible</small>
				</div>
				
				{% elif v['customData']['domain'] == 'MotionSensor' %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">motion_sensor_active</i>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</div>
					<small id="data_motion_{{ v['customData']['idx'] }}">Not availible</small>
				</div>
				
				{% endif %}
			  
			  {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_other">Other devices <i class="bi bi-chevron-compact-down"></i></h5>
			  <div class="iconslist" id="other_devices">
			  {% for k, v in devices.items() %}
			    {% if  (v['customData']['domain'] not in (
					'Group','Scene','Thermostat', 'Setpoint','Temp', 'TempHumidity', 'TempHumidityBaro','SmokeDetector', 'Security',
					'VenetianBlindsEU', 'OnOff', 'Dimmer', 'VenetianBlindsUS', 'Doorbell', 'DoorLock', 'Selector', 'DoorContact', 
					'MotionSensor', 'PushOnButton', 'PushOffButton', 'ColorSwitch', 'Contact') and 'Hidden' not in v['customData']['domain'] ) %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">unknown_2</i>
					<small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</br>Domain: {{ v['customData']['domain'] }}</br>IDX: {{ v['customData']['idx'] }}</div>
				</div>
				{% endif %}
			  {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_hidden" style="cursor: pointer;">Hidden devices <i class="bi bi-chevron-compact-down"></i></h5>
			  <div class="iconslist" id="hidden_devices">
			  {% for k, v in devices.items() %}
			    {% if  'Hidden' in v['customData']['domain'] %}
				<div class="icon">
					<i class="bi bi-incognito" id="icon_{{ v['customData']['idx'] }}"></i>
					<small id="data_{{ v['customData']['idx'] }}">Not availible</small>
					<div class="label">{{ v['name']['name'].replace("_", " ") }}</br>Domain: {{ v['customData']['domain'] }}</br>IDX: {{ v['customData']['idx'] }}</div>
				</div>
				{% endif %}
			  {% endfor %}
			  
			

			</div>

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}

<script>
var updateInterval = 9000
var updateSwitches_block = [];
var updateScenes_block = [];
var updateDimmers_block = [];
var updateSelectors_block = [];
var updateTemp_block = [];
var updateOthers_block = [];

$('#title_switches').hide()
$('#title_scenes').hide()
$('#title_temps').hide()
$('#title_other').hide()
$('#other_devices').hide()
$('#title_hidden').hide()
$('#hidden_devices').hide()
$('#title_security').hide()

{% for k, v in devices.items() %}
	{% if v['customData']['domain'] in ('Group', 'Scene') %}
		updateScenes_block.push("{{ v['customData']['idx'] }}")
		$('#title_scenes').show()
	{% elif v['customData']['domain'] in ('Dimmer', 'ColorSwitch') %}
		updateDimmers_block.push("{{ v['customData']['idx'] }}")
		$('#title_switches').show()
	{% elif v['customData']['domain'] in ['Selector', 'Selector_Hidden'] %}
		updateSelectors_block.push("{{ v['customData']['idx'] }}")
		$('#title_switches').show()
	{% elif  v['customData']['domain'] in ('Thermostat', 'Setpoint', 'Temp', 'Temp_Hidden', 'TempHumidity', 'TempHumidityBaro') %}
		updateTemp_block.push("{{ v['customData']['idx'] }}")
		$('#title_temps').show()
	{% elif v['customData']['domain'] in ('Security', 'SmokeDetector') %}
		updateSwitches_block.push("{{ v['customData']['idx'] }}")
		$('#title_security').show()
	{% elif  (v['customData']['domain'] not in (
					'SmokeDetector', 'Security', 'VenetianBlindsEU', 'OnOff', 'VenetianBlindsUS', 'Doorbell', 'DoorLock', 'DoorContact',
					'MotionSensor', 'PushOnButton', 'PushOffButton', 'Contact') and 'Hidden' not in v['customData']['domain']) %}
		updateOthers_block.push("{{ v['customData']['idx'] }}")
		$('#title_other').show()
	{% else %}
		updateSwitches_block.push("{{ v['customData']['idx'] }}")
		{% if 'Hidden' in v['customData']['domain'] %}
			$('#title_hidden').show()
		{% endif %}
		$('#title_switches').show()
		{% if v['customData']['domain'] in ('PushOnButton', 'PushOffButton') %}
			$("#click_{{ v['customData']['idx'] }}").click(function(){
				$("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").html('radio_button_unchecked').css('color', '#008744');
				setTimeout(() => {
				  $("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").html('radio_button_checked').removeAttr('style');
				}, 1000);
			});
		{% endif %}
	{% endif %}
{% endfor %}

$("#title_other").click(function(){
	$("#other_devices").toggle();
});

$("#title_hidden").click(function(){
	$("#hidden_devices").toggle();
});

refreshSwitches(updateSwitches_block);
refreshScenes(updateScenes_block)
refreshDimmers(updateDimmers_block)
refreshSelectors(updateSelectors_block)
refreshTemp(updateTemp_block);
refreshSwitches(updateOthers_block);

setInterval(refreshSwitches, updateInterval, updateSwitches_block)
setInterval(refreshScenes, updateInterval, updateScenes_block)
setInterval(refreshDimmers, updateInterval, updateDimmers_block)
setInterval(refreshSelectors, updateInterval, updateSelectors_block)
setInterval(refreshTemp, 60000, updateTemp_block)
</script>
