{% include 'head.html' %}

{% include 'header.html' %}

{% include 'sidebar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row dashboard">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">	
		  
			<div class="col-12">
			
			<h5 id="title_scenes">Scenes/Groups <i class="bi bi-chevron-compact-down"></i></h5>
			  
			  <div class="iconslist" id="scene_devices">
			  {% for k, v in devices.items() %}
			  
			  {% if v['customData']['domain'] == 'Group' %}
			    <div class="icon">
					<div class="click" onclick="toogleGroup({{ v['customData']['idx'] }})">
					  <i class="bi bi-toggle2-off" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}"></i>
					  <div class="label">{{ v['name']['name'] }}</div>
					</div>
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					</div>
				</div>
				
			  {% elif v['customData']['domain'] == 'Scene' %}
			    <div class="icon">
					<div class="click" id="clickScene_{{ v['customData']['idx'] }}" onclick="activateScene({{ v['customData']['idx'] }})">
					  <i class="bi bi-toggle2-off" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}"></i>
					  <div class="label">{{ v['name']['name'] }}</div>
					</div>
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					</div>
				</div>
			  {% endif %}
			  
			  {% endfor %}
			  </div>
			  </br>
			  
			  <h5 id="title_switches">Switches <i class="bi bi-chevron-compact-down"></i></h5>
			  
			  <div class="iconslist" id="switch_devices">
			  {% for k, v in devices.items() %}
				
				{% if v['customData']['domain'] == 'OnOff' %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
				      {% if v['type'] == 'action.devices.types.OUTLET' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">outlet</i>
					  {% elif v['type'] == 'action.devices.types.SWITCH' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">switch</i>
					  {% elif v['type'] == 'action.devices.types.WATERHEATER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">water_heater</i>
					  {% elif v['type'] == 'action.devices.types.HEATER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">heat</i>
					  {% elif v['type'] == 'action.devices.types.FAN' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">mode_fan</i>
					  {% elif v['type'] == 'action.devices.types.DOORBELL' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">doorbell_3p</i>
					  {% elif v['type'] == 'action.devices.types.OVEN' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">oven_gen</i>
					  {% elif v['type'] == 'action.devices.types.VACUUM' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">mop</i>
					  {% elif v['type'] == 'action.devices.types.DISHWASHER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">dishwasher_gen</i>
					  {% elif v['type'] == 'action.devices.types.WASHER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">local_laundry_service</i>
					  {% elif v['type'] == 'action.devices.types.TV' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">tv</i>
					  {% elif v['type'] == 'action.devices.types.COFFEEMAKER' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">coffee_maker</i>
					  {% elif v['type'] == 'action.devices.types.TV' %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">tv</i>
					  {% else %}
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lightbulb</i>
					  {% endif %}
					  <div class="label">{{ v['name']['name'] }}</div>
					  <small id="data_{{ v['customData']['idx'] }}">Not available</small>
					</div>
					<div class="modal fade" id="onoffpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="toogleSecSwitch({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif v['customData']['domain'] == 'Doorbell' %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">doorbell_3p</i>
					<div class="label">{{ v['name']['name'] }}</div>
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>		
				{% elif v['customData']['domain'] in ('DoorLock', 'DoorLockInverted') %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
						<i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lock</i>
						<div class="label">{{ v['name']['name'] }}</div>
						<small id="data_{{ v['customData']['idx'] }}">Not available</small>
					</div>
					<div class="modal fade" id="onoffpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="toogleSecSwitch({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					 <div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif v['customData']['domain'] in ('VenetianBlindsUS', 'VenetianBlindsEU', 'Blinds', 'BlindsStop', 'BlindsPercentage')%}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_blinds_{{ v['customData']['idx'] }}">roller_shades</i>
					  <small id="data_{{ v['customData']['idx'] }}">Not available</small>
					<div class="label">{{ v['name']['name'] }}</div>
					{% if v['customData']['domain'] in ['VenetianBlindsUS', 'VenetianBlindsEU', 'Blinds', 'BlindsStop'] %}
					<div class="btn-group" role="group" aria-label="Basic outlined blinds">
						<button type="button" class="btn btn-outline-primary btn-sm" onclick="openCloseBlind({{ v['customData']['idx'] }}, 'Open')"><i class="bi bi-arrow-up-circle" style="font-size: 1rem;"></i></button>
						{% if v['customData']['domain'] != 'Blinds' %}
						<button type="button" class="btn btn-outline-primary btn-sm" onclick="openCloseBlind({{ v['customData']['idx'] }}, 'Stop')"><i class="bi bi-stop-circle" style="font-size: 1rem; color: red;"></i></button>
						{% endif %}
						<button type="button" class="btn btn-outline-primary btn-sm" onclick="openCloseBlind({{ v['customData']['idx'] }}, 'Close')"><i class="bi bi-arrow-down-circle" style="font-size: 1rem;"></i></button>	
					</div>
					{% endif %}
					{% if v['customData']['domain'] in ['BlindsStop', 'BlindsPercentage'] %}
					<input id="slider_{{ v['customData']['idx'] }}" type="range" min="0" max="100" step="1" onchange="changeDimmers({{ v['customData']['idx'] }}, this.value, '{{ v['customData']['protected'] }}')">
					{% endif %}
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif v['customData']['domain'] == 'Dimmer' %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lightbulb</i>
					  <small id="output_{{ v['customData']['idx'] }}">0</small>		  
					  <div class="label">{{ v['name']['name'] }}</div>
					</div>
					<input id="slider_{{ v['customData']['idx'] }}" type="range" min="0" max="100" step="1" onchange="changeDimmers({{ v['customData']['idx'] }}, this.value, '{{ v['customData']['protected'] }}')">
					<div class="modal fade" id="onoffpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="toogleSecSwitch({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					  <div class="modal fade" id="dimmerpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputDimPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputDimPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="changeSecDimmers({{ v['customData']['idx'] }}, slider_{{ v['customData']['idx'] }}.value)" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif v['customData']['domain'] == 'ColorSwitch' %}
				<div class="icon">
					<div class="click" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">lightbulb</i>
					  <small id="output_{{ v['customData']['idx'] }}">0</small>					  
					  <div class="label">{{ v['name']['name'] }}</div>
					</div>
					<input id="slider_{{ v['customData']['idx'] }}" type="range" min="0" max="100" step="1" onchange="changeDimmers({{ v['customData']['idx'] }}, this.value, '{{ v['customData']['protected'] }}')">
					<input type="color" class="form-control form-control-color" id="rgb_{{ v['customData']['idx'] }}" value="#4154f1" title="Choose your color" onchange="changeRGB({{ v['customData']['idx'] }}, this.value)">
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif v['customData']['domain'] == 'Selector' %}
				<div class="icon">
					<div class="click" onclick="" data-bs-toggle="modal" data-bs-target="#selmodal_{{ v['customData']['idx'] }}">
						<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">event_list</i>
						<div class="label">{{ v['name']['name'] }}</div>
						<small id="data_{{ v['customData']['idx'] }}">Not available</small>
					</div>
					<div class="modal fade" id="selmodal_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
									<label for="Selector_{{ v['customData']['idx'] }}" class="form-label">Set selector level</label>
									<select class="form-select" aria-label="level" id="Selector_{{ v['customData']['idx'] }}">
									<!-- <option value="0">Off</option> -->
									</select>
								</div>
								{% if v['customData']['protected'] %}
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
								{% endif %}
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="setSelectorLevel('#Selector_',{{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif (v['customData']['domain'] in ['DoorContact', 'Contact']) %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">door_front</i>
					<div class="label">{{ v['name']['name'] }}</div>
					<small id="data_{{ v['customData']['idx'] }}">Not available</small>
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif v['customData']['domain'] in ('PushOnButton', 'PushOffButton') %}
			    <div class="icon">
					<div class="click" id="click_{{ v['customData']['idx'] }}" onclick="toogleSwitch({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}')">
					  <i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">radio_button_checked</i>
					  <div class="label">{{ v['name']['name'] }}</div>
					</div>
					<div class="modal fade" id="onoffpin_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="toogleSecSwitch({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% endif %}
				
		      {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_temps">Thermostats/Temperatures <i class="bi bi-chevron-compact-down"></i></h5>
			  <div class="iconslist" id="temp_devices">
			  {% for k, v in devices.items() %}
			 
				{% if  v['customData']['domain'] in ('Temp', 'TempHumidity', 'TempHumidityBaro') %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">thermometer</i>
					 <small id="data_{{ v['customData']['idx'] }}">Not available</small>
					<div class="label">{{ v['name']['name'] }}</div>
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'month');" data-bs-toggle="modal" data-bs-target="#temp-chart_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					</div>
					<div class="modal fade" id="temp-chart_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Temperature Chart <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
								<div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="button" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'day');" class="btn btn-outline-primary btn-sm">Day</button>
								<button type="button" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'month');" class="btn btn-primary btn-sm">Month</button>
								<button type="button" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'year');" class="btn btn-outline-primary btn-sm">Year</button>
							</div>
							</div>
							<div class="modal-body">
								<div class="d-flex" id="domoticz-chart-block_{{ v['customData']['idx'] }}" style="height: 200px;"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
				{% elif  v['customData']['domain'] in ('Thermostat', 'Setpoint') %}
				<div class="icon">
					<div class="click" onclick="" data-bs-toggle="modal" data-bs-target="#thermomodal_{{ v['customData']['idx'] }}">
					<i class="material-symbols-outlined" id="{% if v['customData']['selector_modes_idx'] %}thermo_icon_{{ v['customData']['selector_modes_idx'] }}{% else %}thermo_icon_{{ v['customData']['idx'] }}{% endif %}">thermostat</i>
					{% if v['customData']['actual_temp_idx'] %}
						<small id="actual_data_{{ v['customData']['actual_temp_idx'] }}">Not available</small>
					{% else %}
						<small id="data_{{ v['customData']['idx'] }}">Not available</small>
					{% endif %}
					<div class="label">{{ v['name']['name'] }}</div>
					{% if v['customData']['selector_modes_idx'] %}
						<small id="mode_data_{{ v['customData']['selector_modes_idx'] }}">Not available</small>
					{% endif %}
					</div>
					<div class="modal fade" id="thermomodal_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
								<div class="col-12">
									<label for="range_{{ v['customData']['idx'] }}" class="form-label">Set Temperature</label>
									<div>
									{% if v['customData']['actual_temp_idx'] %}
									<small>Actual: <span id="actual_tdata_{{ v['customData']['actual_temp_idx'] }}">Not available</span></small>
									{% else %}
									<small>Actual: <span id="tdata_{{ v['customData']['idx'] }}">Not available</span></small>
									{% endif %}
									<input id="range_{{ v['customData']['idx'] }}" class="form-range" type="range" min="{{ v['attributes']['thermostatTemperatureRange']['minThresholdCelsius'] }}" max="{{ v['attributes']['thermostatTemperatureRange']['maxThresholdCelsius'] }}" value="" step="0.5" oninput="document.getElementById('slider_value_{{ v['customData']['idx'] }}').innerHTML = this.value">
									Setpoint: <span id="slider_value_{{ v['customData']['idx'] }}">Nothing yet.</span>
									</div>
								</div>
								{% if v['customData']['selector_modes_idx'] %}
								<div class="col-12">
									<label for="thermo_Selector_{{ v['customData']['selector_modes_idx'] }}" class="form-label">Thermostat Mode</label>
									<select class="form-select" aria-label="level" id="thermo_Selector_{{ v['customData']['selector_modes_idx'] }}">
									<!-- <option value="0">Off</option> -->
									</select>
								</div>
								{% endif %}
								{% if v['customData']['protected'] %}
								<div class="col-12">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
								{% endif %}
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="setSetpoint({{ v['customData']['idx'] }}, '{{ v['customData']['protected'] }}'){% if v['customData']['selector_modes_idx'] %};setSelectorLevel('#thermo_Selector_', {{ v['customData']['selector_modes_idx'] }}, '{{ v['customData']['protected'] }}') {% endif %}" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Submit</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'month');" data-bs-toggle="modal" data-bs-target="#temp-chart_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					</div>
					<div class="modal fade" id="temp-chart_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Temperature Chart <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
								<div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="button" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'day');" class="btn btn-outline-primary btn-sm">Day</button>
								<button type="button" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'month');" class="btn btn-primary btn-sm">Month</button>
								<button type="button" onClick="getlog('domoticz-chart-block_{{ v['customData']['idx'] }}', '{{ v['customData']['idx'] }}', '{{ v['name']['name'] }}', 'year');" class="btn btn-outline-primary btn-sm">Year</button>
							</div>
							</div>
							<div class="modal-body">
								<div class="d-flex" id="domoticz-chart-block_{{ v['customData']['idx'] }}" style="height: 200px;"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
				</div>
			  {% endif %}
			  
			  
			  
			  {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_security">Security devices <i class="bi bi-chevron-compact-down"></i></h5>
			  <div class="iconslist" id="sec_devices">
			  {% for k, v in devices.items() %}
			 
				{% if v['customData']['domain'] == 'Security' %}
				<div class="icon">
					<div class="click" onclick="" data-bs-toggle="modal" data-bs-target="#security">
					<i class="bi bi-house-lock" id="icon_security_{{ v['customData']['idx'] }}"></i>
					<div class="label">{{ v['name']['name'] }}</div>
					<small id="data_{{ v['customData']['idx'] }}">Not available</small>
					</div>
					  <div class="modal fade" id="security" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						  <div class="modal-content">
							<div class="modal-body">
							<form class="row g-3">
							
								<div class="col-12 text-start">
								<label for="Security_{{ v['customData']['idx'] }}" class="form-label">Set Arm level</label>
								<select class="form-select" aria-label="armlevel" id="Security_{{ v['customData']['idx'] }}">
								  <option selected value="0">Normal</option>
								  <option value="1">Armed Home</option>
								  <option value="2">Armed Away</option>
								</select>
								</div>
								<div class="col-12 text-start">
								  <label for="inputPin_{{ v['customData']['idx'] }}" class="form-label">Enter Pin</label>
								  <input inputmode="numeric" type="password" class="form-control" id="inputPin_{{ v['customData']['idx'] }}">
								</div>
							</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							  <button onclick="setArmLevel({{ v['customData']['idx'] }})" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Set Armlevel</button>
							</div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{%elif v['customData']['domain'] == 'SmokeDetector' %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_smoke_{{ v['customData']['idx'] }}">detector</i>
					<!-- <i class="bi bi-broadcast" id="icon_smokeOff_{{ v['customData']['idx'] }}"></i> -->
					<div class="label">{{ v['name']['name'] }}</div>
					<small id="data_smoke_{{ v['customData']['idx'] }}">Not available</small>
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% elif v['customData']['domain'] == 'MotionSensor' %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}">motion_sensor_active</i>
					<div class="label">{{ v['name']['name'] }}</div>
					<small id="data_motion_{{ v['customData']['idx'] }}">Not available</small>
					<div class="card-footer col-sm-12">
					 <small class="float-start" style="font-size: x-small;" id="lastUpdate_{{ v['customData']['idx'] }}">Not available</small>
					 <small class="bi bi-bar-chart-fill float-end" onClick="getLigthLog({{ v['customData']['idx'] }})" data-bs-toggle="modal" data-bs-target="#light-log_{{ v['customData']['idx'] }}" style="font-size: x-small;"></small>
					 <small class="float-end" style="font-size: x-small;" id="batteryLevel_{{ v['customData']['idx'] }}"></small>
					 <div class="modal fade" id="light-log_{{ v['customData']['idx'] }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="card-title">Device log <span>| {{ v['name']['name'] }}</span></h5>
							 <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center" id="device_log_{{ v['customData']['idx'] }}"></div>
							</div>
							<div class="modal-footer">
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						    </div>
						  </div>
						</div>
					  </div><!-- End Vertically centered Modal-->
					</div>
				</div>
				
				{% endif %}
			  
			  {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_hidden" style="cursor: pointer;">Hidden devices <i class="bi bi-chevron-compact-down"></i></h5>
			  <div class="iconslist" id="hidden_devices">
			  {% for k, v in devices.items() %}
			    {% if  'Hidden' in v['customData']['domain'] %}
				<div class="icon">
					<i class="bi bi-incognito" id="icon_{{ v['customData']['idx'] }}"></i>
					<small id="data_{{ v['customData']['idx'] }}">Not available</small>
					<div class="label">{{ v['name']['name'] }}</br>Domain: {{ v['customData']['domain'] }}</br>IDX: {{ v['customData']['idx'] }}</div>
				</div>
				{% endif %}
			  {% endfor %}
			  </div>
			  </br>
			  <h5 id="title_other">Other devices <small>(not supported devices)</small><i class="bi bi-chevron-compact-down"></i></h5>
			  <div class="iconslist" id="other_devices">
			  {% for k, v in devices.items() %}
			    {% if  (v['customData']['domain'] not in (
					'Group','Scene','Thermostat', 'Setpoint','Temp', 'TempHumidity', 'TempHumidityBaro','SmokeDetector', 'Security',
					'VenetianBlindsEU', 'OnOff', 'Dimmer', 'VenetianBlindsUS', 'Doorbell', 'DoorLock', 'DoorLockInverted', 'Selector', 'DoorContact', 'BlindsPercentage',
					'MotionSensor', 'PushOnButton', 'PushOffButton', 'ColorSwitch', 'Contact') and 'Hidden' not in v['customData']['domain'] ) %}
				<div class="icon">
					<i class="material-symbols-outlined" id="icon_{{ v['customData']['idx'] }}">unknown_2</i>
					<small id="data_{{ v['customData']['idx'] }}">Not available</small>
					<div class="label">{{ v['name']['name'] }}</br>Domain: {{ v['customData']['domain'] }}</br>IDX: {{ v['customData']['idx'] }}</div>
				</div>
				{% endif %}
			  {% endfor %}
			  </div>

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}

<script>
var updateInterval = 15000
var updateSwitches_block = [];
var updateScenes_block = [];
var updateDimmers_block = [];
var updateSelectors_block = [];
var updateTemp_block = [];
var updateOthers_block = [];

$('#title_switches').hide()
$('#title_scenes').hide()
$('#title_temps').hide()
$('#title_other').hide()
$('#other_devices').hide()
$('#title_hidden').hide()
$('#hidden_devices').hide()
$('#title_security').hide()

{% for k, v in devices.items() %}

	{% if v['customData']['domain'] in ('Group', 'Scene') %}
		updateScenes_block.push("{{ v['customData']['idx'] }}")
		$('#title_scenes').show()
		$("#title_scenes > i").toggleClass('bi bi-chevron-compact-up')
		$("#clickScene_{{ v['customData']['idx'] }}").click(function(){
			$("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").removeClass("bi bi-toggle2-off");
			$("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").addClass("bi bi-toggle2-on").css('color', green);
			setTimeout(() => {
			  $("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").removeClass("bi bi-toggle2-on");
			   $("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").addClass("bi bi-toggle2-off").removeAttr('style');
			}, 2000);
		});
	{% elif v['customData']['domain'] in ('Dimmer', 'ColorSwitch', 'BlindsStop', 'BlindsPercentage') %}
		updateDimmers_block.push("{{ v['customData']['idx'] }}")
		$('#title_switches').show()
	{% elif v['customData']['domain'] in ['Selector', 'Selector_Hidden'] %}
		updateSelectors_block.push("{{ v['customData']['idx'] }}")
		$('#title_switches').show()
	{% elif  v['customData']['domain'] in ('Thermostat', 'Setpoint', 'Temp', 'Temp_Hidden', 'TempHumidity', 'TempHumidityBaro') %}
		updateTemp_block.push("{{ v['customData']['idx'] }}")
		$('#title_temps').show()
		$("#title_temps > i").toggleClass('bi bi-chevron-compact-up')
	{% elif v['customData']['domain'] in ('Security', 'SmokeDetector') %}
		updateSwitches_block.push("{{ v['customData']['idx'] }}")
		$('#title_security').show()
		$("#title_security > i").toggleClass('bi bi-chevron-compact-up')
	{% elif  (v['customData']['domain'] not in (
					'SmokeDetector', 'Security', 'VenetianBlindsEU', 'OnOff', 'VenetianBlindsUS', 'Doorbell', 'DoorLock', 'DoorLockInverted', 'DoorContact', 'BlindsStop', 'BlindsPercentage',
					'MotionSensor', 'PushOnButton', 'PushOffButton', 'Contact') and 'Hidden' not in v['customData']['domain']) %}
		updateOthers_block.push("{{ v['customData']['idx'] }}")
		$('#title_other').show()
	{% else %}
		updateSwitches_block.push("{{ v['customData']['idx'] }}")
		{% if 'Hidden' in v['customData']['domain'] %}
			$('#title_hidden').show()
		{% endif %}
		$('#title_switches').show()
		$("#title_switches > i").toggleClass('bi bi-chevron-compact-up')
	{% endif %}
	
	{% if v['customData']['domain'] in ('PushOnButton', 'PushOffButton') %}
		$("#click_{{ v['customData']['idx'] }}").click(function(){
			$("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").html('radio_button_unchecked').css('color', '#008744');
			setTimeout(() => {
			  $("#icon_{{ v['customData']['domain'] }}_{{ v['customData']['idx'] }}").html('radio_button_checked').removeAttr('style');
			}, 1500);
		});
	{% endif %}

{% endfor %}

refreshSwitches(updateSwitches_block);
refreshScenes(updateScenes_block)
refreshDimmers(updateDimmers_block)
refreshSelectors(updateSelectors_block)
refreshTemp(updateTemp_block);
refreshSwitches(updateOthers_block);

setInterval(refreshSwitches, updateInterval, updateSwitches_block)
setInterval(refreshScenes, updateInterval, updateScenes_block)
setInterval(refreshDimmers, updateInterval, updateDimmers_block)
setInterval(refreshSelectors, updateInterval, updateSelectors_block)
setInterval(refreshTemp, 60000, updateTemp_block)
</script>
