{% include 'head.html' %}

{% include 'header.html' %}

{% include 'sidebar.html' %}

<style>
.pointer {cursor: pointer;}
</style>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Devices</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li class="breadcrumb-item active">Devices</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row dashboard">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Added devices <span>| {{ user.username }}</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Protected</th>
                        <th scope="col">State</th>
                      </tr>
                    </thead>
                    <tbody>
					{% for k, v in devices.items() %}
                      <tr>
                        <th class="pointer" scope="row" data-bs-toggle="modal" data-bs-target="#devicesModal_{{ k }}">{{ k }}</th>
						
							  <div class="modal fade" id="devicesModal_{{ k }}" tabindex="-1">
								<div class="modal-dialog modal-lg modal-dialog-scrollable">
								  <div class="modal-content">
									<div class="modal-header">
									  <h5 class="modal-title">Sync request json for {{ k }}</h5>
									  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<pre id="json_{{ v['customData']['idx'] }}">
										</pre>
									<div class="modal-footer">
									  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
									</div>
								  </div>
								</div>
							  </div><!-- End Vertically centered Modal-->

                        <td>{{ v['name']['name'] }} <small class="form-text">{% if v['customData']['merge_thermo_idx'] %}(Merged with idx:{{ v['customData']['merge_thermo_idx'] }}){% elif v['customData']['actual_temp_idx']%}(Merged with idx:{{ v['customData']['actual_temp_idx'] }}){% endif %}</small></td>
                        <td class="text-primary pointer" data-bs-toggle="modal" data-bs-target="#descriptionModal_{{ k }}" >{{ v['customData']['domain'] }}</td>
						    <div class="modal fade" id="descriptionModal_{{ k }}" tabindex="-1">
								<div class="modal-dialog modal-lg">
								  <div class="modal-content">
									<div class="modal-header">
									  <h5 class="card-title">Description <span>| {{ v['name']['name'] }}</span></h5>
									  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body" >
									<div class="row mb-10">
									<form method="post">
									<label class="col-sm-4 col-form-label"></label>
									  <div class="col-sm-12">
										{% if v['customData']['dzTags'] %}
										  <div class="alert border-warning fade show text-center" role="alert">
											Found voicecontrol tags in device description!. This applies to all users.
										  </div>
										{% endif %}
										<input type="text" class="form-control" name="device_id" value="{{ k }}" hidden>
										<div class="form-check form-switch">
										  <input class="form-check-input" type="checkbox" id="hideDevice" name="hideDevice" {% if 'Hidden' in v['customData']['domain'] %}checked{% endif %}>
										  <label class="form-check-label" for="hideDevice">Hide Device</label>
										</div>
										<div class="form-check form-switch">
										  <input class="form-check-input" type="checkbox" id="willReportState" name="willReportState" {% if v['willReportState'] == True %}checked{% endif %}>
										  <label class="form-check-label" for="willReportState">Report State</label>
										</div>
										<div class="form-check form-switch">
										  <input class="form-check-input" type="checkbox" id="checkState" name="checkState" {% if v['customData']['check_state'] == True %}checked{% endif %}>
										  <label class="form-check-label" for="checkState">Check State</label></br>
										  <small class="form-text">Turns on/off 'already in state' error message</small>
										</div>
										<div class="form-check form-switch">
										  <input class="form-check-input" type="checkbox" id="notification" name="notification" {% if v['notificationSupportedByAgent'] == True %}checked {% endif %} disabled>
										  <label class="form-check-label" for="notification">Support Notification</label></br>
										  {% if v['notificationSupportedByAgent'] == True %}<small class="form-text">User can turn on/off notifications in Google Home App</small>{% endif %}
										</div>
										<div class="form-check form-switch">
										  <input class="form-check-input" type="checkbox" id="secondaryUserVerificationCheck_{{ v['id'] }}" {% if ('acknowledge' in v['customData'] or v['customData']['protected'] == True) %}checked{% endif %}{% if 'Hidden' in v['customData']['domain'] %} disabled{% endif %}>
										  <label class="form-check-label" for="secondaryUserVerificationCheck_{{ v['id'] }}">Secondary User Verification</label>
										</div>
										<div id="radioButtons_{{ v['id'] }}">
										<fieldset class="row mb-3" >
										  <legend class="col-form-label col-sm-1 pt-0"></legend>
										  <div class="col-sm-10">
											<div class="form-check">
											  <input class="form-check-input" type="radio" name="2FA" id="ackNeeded" value="ackNeeded" {% if ('acknowledge' in v['customData'] and v['customData']['protected'] != True) %}checked{% endif %}{% if ('Hidden' in v['customData']['domain'] or v['customData']['protected'] == True) %} disabled{% endif %}>
											  <label class="form-check-label" for="ackNeeded">
												Acknowledge Needed
											  </label>
											</div>
											<div class="form-check">
											  <input class="form-check-input" type="radio" name="2FA" id="pinNeeded" value="pinNeeded" {% if v['customData']['protected'] == True %}checked{% endif %}{% if dzUserAdmin is not true %} disabled{% endif %}>
											  <label class="form-check-label" for="pinNeeded">
												Pincode Needed 
											  </label>{% if dzUserAdmin is not true %} <small class="form-text">(Set device as protected in Domoticz)</small>{% endif %}
											</div>
										  </div>
										</fieldset>
										</div>
										{% if 'Hidden' not in v['customData']['domain'] %}
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Room</label>
										  <div class="col-sm-6">
											<input type="text" class="form-control" name="room" value="{{ v['roomHint'] }}">
										  </div>
										</div>
										<div class="row mb-3">
										  <label for="nicknames" class="col-sm-3 col-form-label">Nicknames</label>
										  <div class="col-sm-6">
											<input type="text" class="form-control" name="nicknames" value="{% for n in v['name']['nicknames'] %}{{ n }}, {% endfor %}" aria-describedby="nickNameHelp">
											<div id="emailHelp" class="form-text">Add like this: <code>Celinglamp, kitchen lamp</code>.</div>
										  </div>
										</div>
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Device Type</label>
										  <div class="col-sm-6"> 
											  <select id="devicetype" name="devicetype" class="form-select"
											  {% if (v['customData']['domain'] in ['Security', 'Scene', 'Group', 'SmokeDetector', 'MotionSensor', 'Doorbell', 'Camera']) %}
											  disabled
											  {% endif %}>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'default' %}selected {% endif %} value="default">Set default type</option>
											  {% if v['customData']['domain'] == 'Security' %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'securitysystem' %} selected {% endif %} value="securitysystem" >Security System</option>
											  {% elif v['customData']['domain'] == 'Scene' %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'scene' %}selected {% endif %} value="scene">Scene</option>
											  {% elif v['customData']['domain'] == 'SmokeDetector' %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'smoke_detector' %}selected {% endif %} value="smoke_detector">Smoke Detector</option>
											  {% elif v['customData']['domain'] == 'Camera' %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'camera' %}selected {% endif %} value="camera">Camera</option>
											  {% elif v['customData']['domain'] == 'Group' %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'switch' %}selected {% endif %} value="switch">Switch</option>
											  {% elif v['customData']['domain'] in ['Thermostat', 'Setpoint'] %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'ac_unit' %}selected {% endif %} value="ac_unit">AC Unit</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'aircooler' %}selected {% endif %} value="aircooler">Air Cooler</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'heater' %}selected {% endif %} value="heater">Heater</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'thermostat' %}selected {% endif %} value="thermostat">Thermostat</option>
											  {% elif v['customData']['domain'] in ['Temp', 'TempHumidity', 'TempHumidityBaro'] %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'sensor' %}selected {% endif %} value="sensor">Sensor</option>
											    <option {% if v['type'].replace('action.devices.types.', '').lower() == 'thermostat' %}selected {% endif %} value="thermostat">Thermostat</option>
											  {% elif v['customData']['domain'] == 'Doorbell' %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'doorbell' %}selected {% endif %} value="doorbell">Doorbell</option>
											  {% elif v['customData']['domain'] in ['DoorLock', 'DoorLockInverted'] %}
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'door' %}selected {% endif %} value="door">Door</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'garage' %}selected {% endif %} value="garage">Garage</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'gate' %}selected {% endif %} value="gate">Gate</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'lock' %}selected {% endif %} value="lock">Lock</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'window' %}selected {% endif %} value="window">Window</option>
											  {% elif v['customData']['domain'] in ['DoorContact', 'Contact'] %}											  
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'door' %}selected {% endif %} value="door">Door</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'garage' %}selected {% endif %} value="garage">Garage</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'gate' %}selected {% endif %} value="gate">Gate</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'sensor' %}selected {% endif %} value="sensor">Sensor</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'window' %}selected {% endif %} value="window">Window</option>
											  {% elif v['customData']['domain'] in ['VenetianBlindsUS', 'VenetianBlindsEU', 'Blinds', 'BlindsStop', 'BlindsPercentage'] %}
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'blinds' %}selected {% endif %} value="blinds">Blinds</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'curtain' %}selected {% endif %} value="curtain">Curtain</option>
											  {% elif v['customData']['domain'] == 'Dimmer' %}
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'light' %}selected {% endif %} value="light">Light</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'sensor' %}selected {% endif %} value="sensor">Sensor</option>
											  <option {% if v['type'].replace('action.devices.types.', '').lower() == 'switch' %}selected {% endif %} value="switch">Switch</option>
											  {% elif v['customData']['domain'] in ['OnOff', 'PushOnButton', 'PushOffButton'] %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'ac_unit' %}selected {% endif %} value="ac_unit">AC Unit</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'aircooler' %}selected {% endif %} value="aircooler">Air Cooler</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'airfreshener' %}selected {% endif %} value="airfreshener">Air Freshener</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'airpurifier' %}selected {% endif %} value="airpurifier">Air Purifier</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'blender' %}selected {% endif %} value="blender">Blender</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'boiler' %}selected {% endif %} value="boiler">Boiler</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'charger' %}selected {% endif %} value="charger">Charger</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'coffeemaker' %}selected {% endif %} value="coffeemaker">Coffee maker</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'cooktop' %}selected {% endif %} value="cooktop">Cook Top</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'dehumidifier' %}selected {% endif %} value="dehumidifier">Dehumidifier</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'dishwasher' %}selected {% endif %} value="dishwasher">Dishwasher</option>
												{% if (v['customData']['domain'] in ['PushOnButton', 'PushOffButton']) %}
													<option {% if v['type'].replace('action.devices.types.', '').lower() == 'doorbell' %}selected {% endif %} value="doorbell">Doorbell</option>
												{% endif %}
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'dryer' %}selected {% endif %} value="dryer">Dryer</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'fan' %}selected {% endif %} value="fan">Fan</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'fryer' %}selected {% endif %} value="fryer">Fryer</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'grill' %}selected {% endif %} value="grill">Grill</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'heater' %}selected {% endif %} value="heater">Heater</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'humidifier' %}selected {% endif %} value="humidifier">Humidifier</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'kettle' %}selected {% endif %} value="kettle">Kettle</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'light' %}selected {% endif %} value="light">Light</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'lock' %}selected {% endif %} value="lock">Lock</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'microwave' %}selected {% endif %} value="microwave">Microwave</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'mop' %}selected {% endif %} value="mop">Mop</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'mower' %}selected {% endif %} value="mower">Mower</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'outlet' %}selected {% endif %} value="outlet">Outlet</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'oven' %}selected {% endif %} value="oven">Oven</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'pressurecooker' %}selected {% endif %} value="pressurecooker">Pressure Cooker</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'radiator' %}selected {% endif %} value="radiator">Radiator</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'soundbar' %}selected {% endif %} value="soundbar">Soundbar</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'speaker' %}selected {% endif %} value="speaker">Speaker</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'sensor' %}selected {% endif %} value="sensor">Sensor</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'standmixer' %}selected {% endif %} value="standmixer">Standmixer</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'sprinkler' %}selected {% endif %} value="sprinkler">Sprinkler</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'switch' %}selected {% endif %} value="switch">Switch</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'tv' %}selected {% endif %} value="tv">TV</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'vacuum' %}selected {% endif %} value="vacuum">Vacuum</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'washer' %}selected {% endif %} value="washer">Washer</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'waterheater' %}selected {% endif %} value="waterheater">Waterheater</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'waterpurifier' %}selected {% endif %} value="waterpurifier">Waterpurifier</option>
												<option {% if v['type'].replace('action.devices.types.', '').lower() == 'watersoftener' %}selected {% endif %} value="watersoftener">Watersoftener</option>
											  {% endif %}
											  </select>
										  </div>
										</div>
										 {% if (v['customData']['domain'] in ['Thermostat', 'Setpoint']) %}
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Min Threehold {{ dbsettings.tempunit }}&#176;</label>
										  <div class="col-sm-2">
											<input type="number" class="form-control" name="minThreehold" value="{{ v['attributes']['thermostatTemperatureRange']['minThresholdCelsius'] }}">
										  </div>
										</div>
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Max Threehold {{ dbsettings.tempunit }}&#176;</label>
										  <div class="col-sm-2">
											<input type="number" class="form-control" name="maxThreehold" value="{{ v['attributes']['thermostatTemperatureRange']['maxThresholdCelsius'] }}">
										  </div>
										</div>
									  {% endif %}
									  {% if (v['customData']['domain'] in ['Doorbell', 'Camera'] and 'camurl' in v['customData']) %}
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Camera Url</label>
										  <div class="col-sm-10">
											<input type="text" class="form-control" name="camurl" value="{{ v['customData']['camurl'] }}">
										  </div>
										</div>
									  {% endif %}
									  {% if v['customData']['domain'] in ['OnOff'] and v['type'] in ['action.devices.types.HEATER', 'action.devices.types.WATERHEATER', 'action.devices.types.KETTLE', 'action.devices.types.OVEN'] %}
										{% if v['customData']['merge_thermo_idx'] %}
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Min Threehold {{ dbsettings.tempunit }}&#176;</label>
										  <div class="col-sm-2">
											<input type="number" class="form-control" name="minThreehold" value="{{ devices['Setpoint_' + v['customData']['merge_thermo_idx']]['attributes']['thermostatTemperatureRange']['minThresholdCelsius'] }}">
										  </div>
										</div>
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Max Threehold {{ dbsettings.tempunit }}&#176;</label>
										  <div class="col-sm-2">
											<input type="number" class="form-control" name="maxThreehold" value="{{ devices['Setpoint_' + v['customData']['merge_thermo_idx']]['attributes']['thermostatTemperatureRange']['maxThresholdCelsius'] }}">
										  </div>
										</div>
										{% endif %}
									   <div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Get setpoint</label>
										  <div class="col-sm-6">
											<select id="merge_thermo_idx" name="merge_thermo_idx" class="form-select" aria-describedby="actTempHelp">
											   <option value="" {% if v['customData']['merge_thermo_idx'] == None %}selected{% endif %} >None</option>
											   {% for n, p in devices.items() %}
													{% if 'Setpoint' in n %}
													<option value="{{ p['customData']['idx'] }}" {% if v['customData']['merge_thermo_idx'] == p['customData']['idx'] %}selected{% endif %}>{{ p['name']['name'].replace('_',' ') }}, idx: {{ p['customData']['idx'] }}</option>
													{% endif %}
												{% endfor %}
											</select>
											<div id="modesHelp" class="form-text">Control temp from a setpoint device.</div>
										  </div>
										</div>
									  {% endif %}
									  {% if v['customData']['domain'] in ['Thermostat', 'Setpoint'] %}
									   <div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Get actual temp</label>
										  <div class="col-sm-6">
											<select id="actual_temp_idx" name="actual_temp_idx" class="form-select" aria-describedby="actTempHelp">
											   <option value="" {% if v['customData']['actual_temp_idx'] == None %}selected{% endif %} >None</option>
											   {% for n, p in devices.items() %}
													{% if 'Temp' in n %}
													<option value="{{ p['customData']['idx'] }}" {% if v['customData']['actual_temp_idx'] == p['customData']['idx'] %}selected{% endif %}>{{ p['name']['name'].replace('_',' ') }}, idx: {{ p['customData']['idx'] }}</option>
													{% endif %}
												{% endfor %}
											</select>
											<div id="modesHelp" class="form-text">Get temperature from another device.</div>
										  </div>
										</div>
									  {% endif %}
									  {% if v['customData']['domain'] in ['Thermostat', 'Setpoint'] %}
										<div class="row mb-3">
										  <label for="inputText" class="col-sm-3 col-form-label">Get modes</label>
										  <div class="col-sm-6">
											<select id="selector_modes_idx" name="selector_modes_idx" class="form-select" aria-describedby="modesHelp">
											   <option value="" {% if v['customData']['selector_modes_idx'] == None %}selected{% endif %} >None</option>
											   {% for n, p in devices.items() %}
													{% if 'Selector' in n %}
													<option value="{{ p['customData']['idx'] }}" {% if v['customData']['selector_modes_idx'] == p['customData']['idx'] %}selected{% endif %}>{{ p['name']['name'].replace('_',' ') }}, idx: {{ p['customData']['idx'] }}</option>
													{% endif %}
												{% endfor %}
											</select>
											<div id="modesHelp" class="form-text">Get thermostat modes from another device. Supports levelnames: 'off', 'heat', 'cool', 'auto', 'fan-only', 'purifier', 'eco', 'dry'</div>
										  </div>
										  </div>
									  {% endif %}
									  {% endif %}
									   {% if (v['customData']['domain'] == 'Security' and user.admin) %}
									   <div class="row mb-3" {% if dbsettings.language == 'en' %}style="display: none;"{% endif %}>
									  	<div id="armhome_div" class="col-md-12">
										  <label for="armedhome" class="col-sm-10 col-form-label" id="label_armhome">Armhome</label>
										  <input type="text" class="form-control" id="armedhome" name="armedhome" value="{% for x in dbsettings.armlevels['armhome'] %}{{ x }}, {% endfor %}" aria-describedby="secure1Help">
										  <div id="secure1Help" class="form-text">Add levels like this: <code>home, armed home</code></div>
										</div>
										<div id="armaway_div" class="col-md-12">
										  <label for="armedaway" class="col-sm-10 col-form-label" id="label_armaway">Armaway</label>
										  <input type="text" class="form-control" id="armedaway" name="armedaway" value="{% for x in dbsettings.armlevels['armaway'] %}{{ x }}, {% endfor %}" aria-describedby="secure2Help">
										  <div id="secure2Help" class="form-text">Add levels like this: <code>away, armed away</code></div>
										</div>
									   </div>
										{% endif %}
										<div class="row mb-3">
										  <small class="text-center text-danger">When pressing <strong>'SAVE'</strong> devices will be synced.</small>
										</div>
										</div>
										</div>
									
										<div class="modal-footer">
										  <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										  <button type="submit" name="submit" value="device_settings" class="btn btn-primary">Save and sync devices</button>
										</div>
									</form>
								  </div>
								</div>
							  </div><!-- End Vertically centered Modal-->
                        <td>
						{% if v['customData']['protected'] == False %}
							<button class="btn btn-outline-success btn-sm" onclick="toogleProtected({{ v['customData']['idx'] }}, 'true')" title="Domoticz Admin user can turn protection on/off here"{% if dzUserAdmin is not true %} disabled{% endif %}>No
							{% else %}
							<button class="btn btn-outline-danger btn-sm" onclick="toogleProtected({{ v['customData']['idx'] }}, 'false')" title="Domoticz Admin user can turn protection on/off here"{% if dzUserAdmin is not true %} disabled{% endif %}>Yes
						{% endif %}							
						</button></td>
						<td><button class="btn btn-light btn-sm" id="switch_{{ v['customData']['idx'] }}" disabled>Not available</button></td>
                      </tr>
					{% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
			</div>

			</div>
			</div><!-- End Left side columns -->

			<!-- Right side columns -->
			<div class="col-lg-12">

				{% include 'info.html' %}

			</div><!-- End Right side columns -->
		</div>
		</div>
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}
  
<script>
var updateInterval = 15000
var updateSwitches_block = [];
var updateScenes_block = [];
var updateDimmers_block = [];
var updateSelectors_block = [];

{% for k, v in devices.items() %}

	{% if v['customData']['domain'] in ('Group', 'Scene') %}
		updateScenes_block.push("{{ v['customData']['idx'] }}")
	{% elif v['customData']['domain'] == 'Dimmer' %}
		updateDimmers_block.push("{{ v['customData']['idx'] }}")
	{% elif v['customData']['domain'] == 'Selector' %}
		updateSelectors_block.push("{{ v['customData']['idx'] }}")
	{% else %}
		updateSwitches_block.push("{{ v['customData']['idx'] }}")
	{% endif %}
	
	json = '{{ v | tojson }}';
	$("#json_{{ v['customData']['idx'] }}").html(JSON.stringify(JSON.parse(json), null, 4))
	
	$("#radioButtons_{{ v['id'] }}").hide()
	if ($("#secondaryUserVerificationCheck_{{ v['id'] }}").prop('checked')) {
			$("#radioButtons_{{ v['id'] }}").show()
		}
	$("#secondaryUserVerificationCheck_{{ v['id'] }}").on("click", function(){
		$("#radioButtons_{{ v['id'] }}").toggle()
	});
{% endfor %}

{% if user.admin %}
	var text = '{{ dbsettings.language }}';
	var htext = " in <b>" + text.toUpperCase() + "</b>."
	var atext = " in <b>" + text.toUpperCase() + "</b>."

	$("#label_armhome").append(htext)
	$("#label_armaway").append(atext)
{% endif %}

refreshSwitches(updateSwitches_block);
refreshScenes(updateScenes_block)
refreshDimmers(updateDimmers_block)
refreshSelectors(updateSelectors_block)

setInterval(refreshSwitches, updateInterval, updateSwitches_block)
setInterval(refreshScenes, updateInterval, updateScenes_block)
setInterval(refreshDimmers, updateInterval, updateDimmers_block)
setInterval(refreshSelectors, updateInterval, updateSelectors_block)	

</script>
