{% include 'head.html' %}

{% include 'header.html' %}

<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('dashboard') }}">
          <i class="material-symbols-outlined" style="font-size: 24px">dashboard</i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading">Pages</li>

	  <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('devices') }}">
          <i class="material-symbols-outlined" style="font-size: 24px">devices</i>
          <span>Devices</span>
        </a>
      </li>
      {% if user.admin %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('settings') }}">
          <i class="material-symbols-outlined" style="font-size: 24px">settings</i>
          <span>Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('logging') }}">
          <i class="material-symbols-outlined" style="font-size: 24px">summarize</i>
          <span>Logs</span>
        </a>
      </li>
      {% endif %}

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Logs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li class="breadcrumb-item active">Logs</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row dashboard">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Logs <span>| {{ user.username }}</span></h5>
					<pre class="logging_window" id="output">
					</pre>
					</br>
					<form class="form-check form-switch">
					<label><input class="form-check-input" type="checkbox" value="AutoScroll" id="autoScroll" label="Auto Scroll">Auto-Scroll</label>
					</form>
					<!-- <div class="text-center"><button type="button" class="btn btn-secondary" onClick="location.href=location.href">Refresh Logpage</button></div> -->
              </div>
			</div>

			</div>
			</div><!-- End Left side columns -->

			<!-- Right side columns -->
			<div class="col-lg-12">

				

			</div><!-- End Right side columns -->
		</div>
		</div>
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}
<script>
$(document).ready(function() {
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
	xhr.onerror= function(xhr) {
        location.href=location.href
    };
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();

    setInterval(function() {
        output.textContent = xhr.responseText;
    }, 1000);
	
    //set initial state.
    $('#autoScroll').val(this.checked);

    $('#autoScroll').change(function() {
        if(this.checked) {
			var myInt = setInterval(function() {
			  var elem = document.getElementById('output');
			  elem.scrollTop = elem.scrollHeight;
			}, 1000);
        }
        $('#autoScroll').val(this.checked);        
    });
});
</script>
