{% include 'head.html' %}

{% include 'header.html' %}

{% include 'sidebar.html' %}

<style>
.logging_window{
    display: block;
    padding: 9.5px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
	height: 400px;
    margin: auto;
}
</style>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Logs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li class="breadcrumb-item active">Logs</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row dashboard">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Logs <span>| {{ user }}</span></h5>
					<iframe class="logging_window" id="logging_window"
						src="{{ url_for('stream')}}">
					</iframe>
					</br>
					<form class="form-check form-switch">
					<label><input class="form-check-input" type="checkbox" value="AutoScroll" id="autoScroll" label="Auto Scroll">Auto-Scroll</label>
					</form>
              </div>
			</div>

			</div>
			</div><!-- End Left side columns -->

			<!-- Right side columns -->
			<div class="col-lg-12">

				

			</div><!-- End Right side columns -->
		</div>
		</div>
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}
<script>
$(document).ready(function() {
    //set initial state.
    $('#autoScroll').val(this.checked);

    $('#autoScroll').change(function() {
        if(this.checked) {
			setInterval('frames[0].scrollTo(0,9999999)',1000)
        }
        $('#autoScroll').val(this.checked);        
    });
});
</script>
